body {
    background-color: rgb(225, 224, 166);
    background-image: url(https://images.unsplash.com/photo-1532455935509-eb76842cee50?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGhvbmclMjBrb25nfGVufDB8fDB8fHww);
    background-size: cover;


}